<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IEEECUSB.Properties.Settings.ConnectionString" connectionString="Data Source=HZ\SQL$SERVER123;Initial Catalog=CompanyDB_Lab6;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IEEECUSB.Properties.Settings.MahmoudMorsyConnectionString"
      connectionString="server=160.153.16.55;user id=TestDB1;password=12345678;database=MahmoudMorsy"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>